/* SCSS HEX */
/* SCSS Gradient */
html, body {
  margin: 0;
  padding: 0;
}
html {
  background-color: #1d201f;
  /*
	 * Header
	 */
  /*
	 * Sidebar navigation
	 */
  /*
	 * Main content
	 */
}
html header {
  background-color: #393d3f;
  padding: 2px;
  /*
		 * Searchbar
		 */
}
html header pre, html header p, html header h1, html header h2, html header h3, html header h4, html header h5, html header h6 {
  color: #FFFFFF;
}
html header .searchbar {
  width: 325px;
  margin: 5px auto;
}
html header .searchbar #search {
  font-size: 25px;
  width: calc(100% - 10px);
  padding: 5px;
  border: none;
  border-radius: 50px;
  text-align: center;
  background-color: #4c5154;
  color: #FFFFFF;
}
html header .searchbar #search-result {
  position: absolute;
  top: 54px;
  display: block;
  background-color: #4c5154;
  color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  word-wrap: normal;
  width: 325px;
}
html header .searchbar #search-result div a {
  display: block;
  width: 100%;
  padding: 10px;
  color: #FFFFFF;
  text-decoration: none;
}
html header .searchbar #search-result div a:hover {
  background-color: #08a045;
}
html div.sidebar {
  background-color: #393d3f;
  color: #FFFFFF;
  display: block;
  float: left;
  word-wrap: normal;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 15%;
  list-style-type: none;
}
html div.sidebar ul {
  list-style-type: none;
  padding-left: 15px;
}
html div.sidebar li {
  width: 100%;
}
html div.sidebar a {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
}
html div.sidebar a::after {
  content: "";
  display: block;
  background-color: #FFFFFF;
  width: 0%;
  height: 1px;
  transition: ease 500ms;
}
html div.sidebar a:hover::after {
  width: 100%;
}
html main {
  width: calc(85% - 100px);
  background-color: #393d3f;
  float: left;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  color: #FFFFFF;
}
html main a {
  color: #5998c5;
}
/* SCSS HEX */
/* SCSS Gradient */
