@import "variables";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	min-height: 100%;
	overflow-y: scroll;
}

html {
	background-color: $eerie-black;

	/*
	 * Header
	 */
	header {
		background-color: $onyx;
		padding: 2px;

		pre, p , h1, h2, h3, h4, h5, h6 {
			color: #FFFFFF;
		}

		/*
		 * Searchbar
		 */
		.searchbar {
			width: 325px;
			margin: 5px auto;
			#search {
				font-size: 25px;
				width: calc(100% - 10px);
				padding: 5px;
				border: none;
				border-radius: 50px;
				text-align: center;
				background-color: $onyx-bright;
				color: #FFFFFF;
			}

			#search-result {
				position: absolute;
				top: 54px;
				display: block;
				background-color: $onyx-bright;
				color: #FFFFFF;
				border-radius: 5px;
				overflow: hidden;
				word-wrap: normal;
				width: 325px;
				div {
					a {
						display: block;
						width: 100%;
						padding: 10px;
						color: #FFFFFF;
						text-decoration: none;
						&:hover, &:focus{
							background-color: $green-pigment;
						}
					}
				}
			}
		}
	}

	/*
	 * Sidebar navigation
	 */
	div.sidebar {
		background-color: $onyx;
		color: #FFFFFF;
		font-family: "OpenSans", sans-serif;
		display: block;
		float: left;
		word-wrap: break-word;
		border-radius: 10px;
		padding: 10px;
		margin: 10px;
		width: 15%;
		list-style-type: none;
		ul {
			list-style-type: none;
			padding-left: 15px;
		}
		li {
			width: 100%;
		}
		a {
			position: relative;
			display: inline-block;
			color: #FFFFFF;
			text-decoration: none;
			width: 100%;
			transition: ease 500ms;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				display: block;
				background-color: #FFFFFF;
				width: 0;
				height: 1px;
				transition: ease 500ms;
			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				background-color: $onyx-bright;
				transition: ease 500ms;
				z-index: -1;
			}
			&:hover {
				&::after, &::before {
					width: 100%;
				}
				&::before {
					left: 0;
				}

				padding-left: 10px;
			}
			z-index: 3;
		}
	}

	/*
	 * Main content
	 */
	main {
		width: calc(85% - 100px);
		min-height: calc(100vh - 218px);
		background-color: $onyx;
		float: left;
		margin: 10px;
		padding: 20px 20px 50px 20px;
		border-radius: 10px;
		color: #FFFFFF;
		p, a, h1, h2, h3, h4, h5, h6 {
			font-family: "Rinnet", serif;
		}
		code, pre {
			font-family: "Hack", monospace;
		}
		a {
			color: $carolina-blue;
			transition: ease 300ms;
			&:hover {
				color: $green-pigment;
			}
		}
	}

	/*
	 * Footer
	 */
	footer {
		clear: both;
		padding: 10px;
		background-color: $onyx;
		font-family: "OpenSans", sans;
		p {
			color: #FFFFFF;
			text-align: center;
		}
	}
}